/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 12px;
}

body {
  max-width: 80em;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

p, li {
  font-size: 1.2em;
}

/*+++ more specific section styles +++*/

/* header and footer */

header, footer {
  background-color: teal;
  padding: 2em;
}
header {
  height: 10em;
}

h1, footer p {
  margin: 0;
}

h1 {
  text-align: center;
  padding: 0.5em 0;
}

/* main content */

main {
  padding: 2em;
}

main p, main li {
  line-height: 2;
}

img {
  float: right;
  margin: 1.2em 2em;
  max-height: 220px;
}

.clearfix {
  clear: both;
}

@media only screen and (max-width: 600px) {
  img {
    float: none;
  }
}